@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Classes</h4>
                <p class="card-text">Manage your classes here.</p>
                <a href="@Url.Action("Index", "Classes")" class="btn btn-primary">View Classes</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Subjects</h4>
                <p class="card-text">Manage your subjects here.</p>
                <a href="@Url.Action("Index", "Subjects")" class="btn btn-primary">View Subjects</a>
            </div>
        </div>
    </div>
</div>
