@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<div class="jumbotron">
    <h1>Welcome to MiniSchool!</h1>
    <p class="lead">This is a sample page with two cards for Students and Subjects.</p>
</div>



